{% load static %}


    <link href="{% static 'poorslaves/style.css' %}" rel="stylesheet"/>

    <script src="{% static 'poorslaves/javascript.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


<table width="400" style="max-width: 400px" border="1" dir="ltr">
    <tbody>
    <tr id="templaterow" class="answer-row">
        <td>
            <h4 class="courtbased">The Court</h4>
    <label class="judgebased" for="judge">Judge</label>
    <select id="judge" name="judge" class="judgebased js-example-basic-simple">
<option>יוסף אלרון Yosef Elron</option>
<option>עדנה ארבל Edna Arbel</option>
<option>דורית ביניש Dorit Beinisch</option>
<option>ענת ברון Anat Baron</option>
<option>דפנה ברק-ארז Daphne Barak-Erez</option>
<option>סלים ג'ובראן Salim Joubran</option>
<option>אשר גרוניס Asher Grunis</option>
<option>עופר גרוסקופף Ofer Grosskopf</option>
<option>יורם דנציגר Yoram Danziger</option>
<option>ניל הנדל Neal Hendel</option>
<option>יעל וילנר Yael Willner</option>
<option>צבי זילברטל Zvi Zylbertal</option>
<option>אסתר חיות Esther Hayut</option>
<option>אדמונד לוי Edmond Levy</option>
<option>מנחם (מני) מאזוז Menahem Mazuz</option>
<option>דוד מינץ David Mintz</option>
<option>חנן מלצר Hanan Melcer</option>
<option>מרים נאור Miriam Naor</option>
<option>נעם סולברג Noam Sohlberg</option>
<option>יצחק עמית Isaac Amit</option>
<option>עוזי פוגלמן Uzi Vogelman</option>
<option>אילה פרוקצ'יה Ayala Procaccia</option>
<option>ג'ורג' קרא George Karra</option>
<option>אליקים רובינשטיין Elyakim Rubinstein</option>
<option>אליעזר ריבלין Eliezer Rivlin</option>
<option>אורי שהם Uri Shoham</option>
       
    </select>
    <br/>
    <label for="disposition">Disposition Type</label>
    <select id="disposition" name="disposition" class="js-example-basic-simple">
        <option>On the merits</option>
        <option>Withdrawal - recommended by judges</option>
        <option>Withdrawal - unknown reason</option>
        <option>In-court settlement</option>
        <option>Out-of-court settlement</option>
        <option>Other</option>
    </select>
    <br/>
    <label for="outcome">Outcome</label>
    <select id="outcome" name="outcome" class="js-example-basic-simple">
        <option>Rejected</option>
        <option>Accepted</option>
        <option>Partially Accepted</option>
        <option>Remand</option>
        <option>Dismissed</option>
        <option>Unusual</option>
        <option selected>No disposition</option>
    </select>
    <br/>
    <label for="winner">Winner</label>
    <select id="winner" name="winner" class="js-example-basic-simple">
        <option>Petitioner</option>
        <option>Respondent</option>
        <option>Both</option>
        <option>Unknown</option>
    </select><br/>
        <label for="issue">Issue</label><br/>
        <select id="issue" name="issue" class="js-example-basic-simple max" data-width="element" multiple>
           <optgroup label="Criminal Law">
                <option>Criminal - Traffic</option>
                <option>Criminal - White collar</option>
                <option>Criminal - Security</option>
                <option>Criminal - Violence</option>
                <option>Criminal - Sex</option>
                <option>Criminal - Corruption</option>
                <option>Criminal - Prisioner's petitions</option>
                <option>Criminal - Arrests</option>
                <option>Criminal - Procedure & Evidence</option>
                <option>Criminal - Appeal on sentence</option>
                <option>Criminal - Drugs</option>
                <option>Criminal - Other</option>
           </optgroup>
            <optgroup label="Civil law">
                 <option>Civil - Contracts</option>
                <option>Civil - Torts</option>
                <option>Civil - Land</option>
                <option>Civil - Fiscal/Tax</option>
                <option>Civil - Corporate/Commercial</option>
                <option>Civil - Equity and Trusts</option>
                <option>Civil - Property</option>
                <option>Civil - Intellectual Property</option>
                <option>Civil - Bankruptcy</option>
                <option>Civil - Procedure and Evidence</option>
                <option>Civil - other</option>
            </optgroup>
            <optgroup label="Family law">
                <option>Family - Wills and successions</option>
                <option>Family - Custody and guardiandship</option>
                <option>Family - Alimony and assets</option>
                <option>Family - other</option>
            </optgroup>
            <optgroup label="Religious law">
                <option>Religious - Rabbinical courts</option>
                <option>Religious - Other religions</option>
                <option>Religious - other</option>
            </optgroup>
            <optgroup label="Social security, Health Insurance, Pension">
                <option>Social security, Health Insurance, Pension</option>
            </optgroup>
            <optgroup label="Labor and Employment">
                <option>Labor and Employment</option>
            </optgroup>
            <optgroup label="International law">
                <option>International law</option>
            </optgroup>
            <optgroup label="National security and the territories">
                <option>National security, military, and the territories</option>
            </optgroup>
            <optgroup label="Administrative law and regulation">
                <option>Administrative - Tender מכרזים</option>
                <option>Administrative - Licenses, planning and construction</option>
                <option>Administrative - Media</option>
                <option>Administrative - Commercial and Economic Regulation</option>
                <option>Administrative - Municipalities</option>
                <option>Administrative - Environmental</option>
                <option>Administrative - Education</option>
                <option>Administrative - Citizenship</option>
                <option>Administrative - other</option>
            </optgroup>
            <optgroup label="Constitutional Law">
                <option>Constitutional - Election law</option>
                <option>Constitutional - Religion and State</option>
                <option>Constitutional - Separation of powers and judicial power</option>
                <optgroup label="Human rights">
                    <option>Constitutional - Human Rights - Dignity</option>
                    <option>Constitutional - Human Rights - Minimal conditions for existence in Dignity</option>
                    <option>Constitutional - Human Rights - Right to health</option>
                    <option>Constitutional - Human Rights - Right to life</option>
                    <option>Constitutional - Human Rights - Equality/ Discrimination</option>
                    <option>Constitutional - Human Rights - Property</option>
                    <option>Constitutional - Human Rights - Access to courts</option>
                    <option>Constitutional - Human Rights - Due process</option>
                    <option>Constitutional - Human Rights - Freedom of association</option>
                    <option>Constitutional - Human Rights - Freedom of movement</option>
                    <option>Constitutional - Human Rights - Freedom of occupation</option>
                    <option>Constitutional - Human Rights - Freedom of speech</option>
                    <option>Constitutional - Human Rights - Liberty</option>
                    <option>Constitutional - Human Rights - Autonomy</option>
                    <option>Constitutional - Human Rights - Right to family life</option>
                    <option>Constitutional - Human Rights - Education</option>
                    <option>Constitutional - Human Rights - Freedom of/from religion</option>
                    <option>Constitutional - Human Rights - Privacy</option>
                    <option>Constitutional - Human Rights - Interest</option>
                    <option>Constitutional - Human Rights - The right to elect and to be elected</option>
                    <option>Constitutional - Human Rights - The right to a nationality</option>
                </optgroup>
                <option>Constitutional - other</option>
            </optgroup>
        </select>
        </td>
    </tr>

    </tbody>
</table>
<button id="add">Add Judge</button><button id="remove">Remove Last Judge</button>

